 :root {
     --primaryColor: #9a0021;
     --secondaryColor: #ffae01;
     --fontColor: #2b2e35;
     --blackColor: #040507;
     --whiteColor: #fff;

 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
 }

 body {
     width: 100%;
     height: auto;
     background-color: var(--fontColor);
     font-family: 'DM Sans', sans-serif;
 }

 .navbar {
     width: 100%;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     padding: 2%;
     top: 0%;
     left: 0%;
     background-color: transparent;
     z-index: 10;
 }

 .nav-logo {
     position: relative;
     top: 10px;
     left: 10px;
 }

 .menu-toggle {
     display: block;
     flex-direction: column;
 }

 .bar {
     /* display: block; */
     width: 15px;
     height: 2px;
     margin: 3px auto;
     transition: all 0.3 ease-in-out;
     background-color: var(--whiteColor);
     cursor: pointer;

 }

 .logo-container {
     display: flex;
     align-items: center;
 }

 .logo {
     font-size: 26px;
     text-decoration: none;
     color: var(--secondaryColor);
     font-weight: bold;
     letter-spacing: 1;

 }

 .program-logo {
     display: flex;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     display: block;
     object-fit: cover;

 }

 .menus a {
     text-decoration: none;
     padding: 0 10px;
     color: var(--whiteColor);
 }

 .menus a:hover {
     color: var(--primaryColor);
 }

 .signUp {
     text-decoration: none;
     color: var(--whiteColor);
     background-color: var(--primaryColor);
     border: 2px solid var(--primaryColor);
     border-radius: 20px;
     padding: 5px 15px;
 }

 .signUp:hover {
     background-color: transparent;
 }

 .header {
     width: 100%;
     height: 100vh;
     padding: 5%;
     background-image: url(img/pexels-photo-841130.jpeg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: orange;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .header::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 1;
 }

 .header-desc {
     position: relative;
     /* Cambiado de absolute a relative */
     min-width: 300px;
     width: auto;
     /* Cambiado de 40% a auto para centrar el texto */
     height: auto;
     /* Ajuste para que el contenedor se ajuste al contenido */
     display: flex;
     flex-direction: column;
     align-items: center;
     /* Cambiado de flex-start a center */
     justify-content: center;
     gap: 1rem;
     z-index: 2;
     /* Ajuste para mantener el contenido sobre el fondo */
     color: var(--whiteColor);
     text-align: center;
     /* Centrar el texto */
 }

 .title {
     font-size: 56px;
     font-weight: 700;
     letter-spacing: 1px;
     /* Añadido px */
     margin-bottom: 0.5rem;
     color: var(--whiteColor);
 }


 .header-desc p {
     letter-spacing: 1.5px;
     /* Añadido px */
 }


 /* Modal styles */

 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scrolling if needed */
     background-color: rgba(0, 0, 0, 0.8);
     /* Black background with opacity */
 }

 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0%;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: hidden;
     /* Disable scrolling */
     background-color: rgba(0, 0, 0, 0.8);
     /* Black background with opacity */
 }

 .modal-content {
     background-color: var(--blackColor);
     margin: 5% auto;
     /* Centered */
     padding: 20px;
     border: 1px solid #888;
     width: 90%;
     /* Could be more or less, depending on screen size */
     max-width: 1000px;
     /* Maximum width */
     position: relative;
     max-height: 100%;
     /* Max height of modal */
     overflow: hidden;
     /* Disable scrolling inside the modal */
 }

 .modal-content video {
     width: 100%;
     height: auto;
 }

 /* Close button */
 .close {
     color: #aaa;
     float: right;
     font-size: 32px;
     font-weight: bold;
     position: absolute;
     right: 10px;
     top: 4px;
 }

 .close:hover,
 .close:focus {
     color: white;
     text-decoration: none;
     cursor: pointer;
 }


 /* Button style */
 button {
     padding: 10px 20px;
     background-color: var(--secondaryColor);
     color: var(--whiteColor);
     border: none;
     cursor: pointer;
     font-size: 16px;
     border-radius: 5px;
 }


 button:hover {
     background-color: var(--primaryColor);
 }


 /* PROGRAM SECTION */



 .program {
     padding: 2%;
     text-align: right;
 }


 .program-wrapper {
     width: 100%;
     display: flex;
     /* margin: 10% 0; */
     margin-top: 4%;
     gap: 2rem;
     overflow-x: none;


 }



 .program-card {
     position: relative;
     height: 400px;
     width: 30%;
     border-radius: 20px;
     min-width: 200px;
     background-color: var(--blackColor);
     transition: transform 1s ease;
     transform-origin: center;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

 }


 .program-img {
     width: 100%;
     height: 100%;
     opacity: 0.5;
     object-fit: cover;
     border-radius: 20px;
     transition: transform 1s ease;
     transform-origin: center;


 }


 .program-title {
     display: flex;
     justify-content: center;
     align-content: center;
     position: absolute;
     top: 5%;
     text-align: center;
     color: var(--whiteColor);
     padding: 10px 20px;
     letter-spacing: 1;
     font-weight: 700;
     font-size: 24px;
     cursor: pointer;
 }


 .program-detail {
     display: none;
     /* position: absolute;
     top: 75%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     background-color: rgba(0, 0, 0, 0.8);
     color: var(--whiteColor);
     padding: 20px;
     text-align: center;
     opacity: 0;
     transition: opacity 0.5s ease; */

 }



 .program-detail h3 {
     margin: 10px 0;
     font-size: 24px;
     color: var(--whiteColor);
 }


 .program-detail p {
     font-size: 16px;
     margin: 10px 0;
     color: var(--whiteColor);
 }



 .program-card:hover .program-img {
     opacity: 0.8;
     cursor: pointer;
     transform: scale(1.1);
     transform-origin: center;




 }


 .program-card:hover .program-detail {
     position: absolute;
     display: block;
     background-color: #040507bf;
     color: var(--whiteColor);
     height: 40%;
     width: 100%;
     padding: 5%;
     bottom: 0;
     left: 0;
     text-align: center;
     font-size: 13px;
     letter-spacing: 1;
     line-height: 1.8;
     cursor: pointer;
     opacity: 1;
 }


 .program-btn {
     margin-top: 10px;
     padding: 5px 20px;
     border: none;
     background-color: var(--whiteColor);
     color: var(--fontColor);
     font-size: 12px;
     border-radius: 20px;
     cursor: pointer;
 }


 .program-btn:hover {
     background-color: var(--primaryColor);
     color: var(--secondaryColor);
     letter-spacing: 1;
 }



 .program-title {
     position: absolute;
     top: 5%;
     text-align: center;
     color: var(--whiteColor);
     padding: 10px 20px;
     letter-spacing: 1;
     font-weight: 700;
     font-size: 24px;
     cursor: pointer;
 }


 /* STORY SECTION */


 .story {
     /* margin-top: 1%; */
     width: 100%;
     height: 80%;
     min-height: 75vh;
     padding: 5% 2% 0 2%;
     text-align: center;
     /* background-image: url('img/about.jpeg'); */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }

 .title-story {
     color: var(--secondaryColor);
     font-weight: 700;
     font-size: 42px;
     cursor: pointer;

 }

 .story-wrapper h3 {
     font-size: 24px;
     font-weight: 700;
     color: var(--secondaryColor);
     margin-top: 10px;

 }



 .story-wrapper {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;
     margin-bottom: 3%;

     color: var(--whiteColor);
 }

 .story-desc {
     width: 60%;
     text-align: center;
     line-height: 1.5;
     letter-spacing: 1;
 }

 .story-count {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     padding: 2rem 0;
     gap: 2rem;
 }

 .story-card {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     text-align: center;
     background-color: var(--primaryColor);
     color: var(--whiteColor);
     font-size: 16px;
 }

 .story-numb {
     font-size: 28px;
     font-weight: 600;

 }

 .gym-wrapper {
     width: 100%;
     /* Adjust width as needed */
     display: flex;
     flex-wrap: wrap;
     /* Allows items to wrap to the next line */
     justify-content: center;
     gap: 1rem;
     /* Adjust gap between items */
     overflow-y: auto;
     /* Enable vertical scrolling if content exceeds modal height */
     max-height: 70%;
     /* Limit height to avoid overflowing the modal */
 }

 .gym-card {
     background-color: var(--secondaryColor);
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0.5rem;
     /* Adjust spacing between elements inside the card */
     position: relative;
     border-radius: 20px;
     width: 90%;
     /* Adjust card width as needed */
     max-width: 300px;
     /* Limit card width */
 }

 .gym-card:hover {
     cursor: pointer;
     /* transform: scale(1.1);
     transition: transform 0.5s ease;
     transform-origin: center; */
     background-color: var(--primaryColor);
     border: 1px solid var(--fontColor);
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }

 .gym-icons {
     position: absolute;
     top: 10px;
     right: 10px;
 }

 .gym-icons i {
     font-size: 24px;
     /* Adjust icon size */
     color: var(--whiteColor);
     /* Adjust icon color */
 }

 .gym-img {
     width: 100%;
     /* Adjust image width */
     max-width: 100%;
     /* Ensure image fits within card */
     height: auto;
     /* Maintain aspect ratio */
     border-radius: 10px;
     /* Rounded corners for image */
     object-fit: cover;
     /* Ensure image covers the entire container */
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }

 .gym-detail {
     color: var(--whiteColor);
 }

 .gym-detail h3 {
     color: var(--blackColor);
     font-size: 18px;
     /* Adjust heading font size */
 }

 .gym-detail a:hover {
     color: var(--primaryColor);
 }



 /* TRANSFORMATION SECTION */


 .transformation {
     padding: 2%;
     text-align: right;
 }

 .transformation-wrapper {
     height: 100%;
     width: 100%;
     border-radius: 20px;
     display: flex;
     margin: 2% 0;
     gap: 2rem;
     overflow-x: auto;
     flex-direction: row;
 }

 .transformation-card {
     border-radius: 20px;
     position: relative;
     height: 350px;
     width: 30%;
     min-width: 200px;
     background-color: var(--blackColor);
     transition: transform 1s ease;
     transform-origin: center;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
 }

 .flip-card-inner {
     border-radius: 20px;
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 1s ease;
     transform-style: preserve-3d;
 }

 .flip-card-front,
 .flip-card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
 }

 .flip-card-front {
     background-color: #bbb;
     color: black;
     border-radius: 20px;
 }

 .flip-card-back {
     background-color: dodgerblue;
     color: white;
     transform: rotateY(180deg);
     border-radius: 20px;
 }

 .card-img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
 }

 .title-transformaciones {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 3%;
     color: var(--secondaryColor);
     font-size: 48px;
     font-weight: 700;
     letter-spacing: 1px;
     /* Añadido px */
     margin-bottom: 5%;
 }


 .transformation-card.flipped .flip-card-inner {
     transform: rotateY(180deg);
 }

 .transformation-card:hover .flip-card-inner {
     transform: rotateY(180deg);
 }

 /* .transformation-title {
     position: absolute;
     top: 5%;
     text-align: center;
     color: var(--whiteColor);
     padding: 10px 20px;
     letter-spacing: 1;
     font-weight: 700;
     font-size: 24px;
 } */


 .client {
     width: 100%;
     display: flex;
     padding: 0 2% 2%;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     background-color: var(--fontColor);
 }

 .client-wrapper {
     width: 66%;
 }

 .client-card {
     background-color: var(--secondaryColor);
     padding: 10px;
     display: flex;
     justify-content: center;
     margin: 1.5rem 0;
     gap: 1rem;
     position: relative;
     border-radius: 20px;
 }



 .client-icons {
     position: absolute;
     top: 10px;
     right: 10px;
 }



 .client-img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     object-fit: cover;
     box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px;

 }

 .client-detail {
     color: var(--whiteColor);
     text-align: left;
 }

 .client-detail h3 {
     color: var(--blackColor);
 }

 .title-clientes {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 3%;
     color: var(--secondaryColor);
     font-size: 48px;
     font-weight: 700;
     letter-spacing: 1px;
     /* Añadido px */
     margin-bottom: 5%;
 }


 /* PACKAGE SECTION */



 .package-wrapper {
     display: flex;
     flex-wrap: wrap;
     gap: 1rem;
     margin-top: 20px;
 }

 .package-card {
     padding: 20px;
     background-color: var(--whiteColor);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
     border-radius: 20px;
     width: 30%;
     /* Full width */
     box-sizing: border-box;
     /* Include padding and border in the element's total width and height */
     flex: 1 1 30%;
 }

 .package-card h1,
 .package-card h2,
 .package-card p {
     margin: 0 0 10px 0;
 }

 .package-card h3 {
     font-size: 30px;
     margin: 0 0 10px 0;
     color: var(--primaryColor);
 }

 .package-card h1 {
     font-size: 24px;
     color: var(--blackColor);
 }

 .package-card h2 {
     font-size: 20px;
     color: var(--primaryColor);
 }

 .package-card p {
     font-size: 16px;
     color: var(--blackColor);
     display: flex;
     align-items: center;
 }

 .package-card i {
     color: green;
     margin-right: 10px;
 }

 .package-btn {
     display: block;
     width: 100%;
     padding: 10px;
     background-color: var(--secondaryColor);
     color: var(--whiteColor);
     text-align: center;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
 }

 .package-btn:hover {
     background-color: var(--primaryColor);
 }

 /* Adjust package details */
 .package-p {
     display: flex;
     flex-direction: column;
     font-size: 14px;
 }

 .package-p p {
     padding: 4% 0;
 }


 /* BOOTCAMP SECTION */


 .bootcamp-btn:hover {
     background-color: var(--primaryColor);
     transform: scale(1.05);
 }

 .bootcamp-card {
     background-color: var(--secondaryColor);
     padding: 10px;
     /* Adjust padding */
     margin: 15px 0;
     /* Adjust margin */
     border-radius: 10px;
     font-size: 14px;

 }


 .bootcamp-card:hover {
     background-color: var(--primaryColor);
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
 }

 .bootcamp-icons {
     position: absolute;

     color: var(--whiteColor);
 }

 .bootcamp-icons i {
     font-size: 20px;
 }

 .bootcamp-img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     object-fit: cover;
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
 }

 .bootcamp-detail {
     color: var(--whiteColor);
     text-align: left;
 }

 .bootcamp-detail h3 {
     color: var(--whiteColor);
     font-size: 10px;
     margin-bottom: 0.5rem;
 }

 .bootcamp-detail a {
     color: var(--whiteColor);
     text-decoration: none;
 }

 .bootcamp-detail a:hover {
     text-decoration: underline;
 }



 /* COACH SECTION */


 .coach {
     width: 100%;
     padding: 2% 5%;
     text-align: right;
 }

 .coach-wrapper {
     height: 100%;
     width: 100%;
     align-items: center;
     justify-content: center;
     display: flex;
     margin: 2% 0;
     gap: 2rem;
     flex-direction: column;
 }

 .coach-card {
     width: 100%;
     max-width: 500px;
     height: auto;
     overflow: hidden;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: transform 0.3s;
     margin: 0 auto;
 }

 .coach-img {
     width: 100%;
     height: auto;
     object-fit: cover;
 }

 .coach-detail {
     width: 100%;
     max-width: 800px;
     background: var(--secondaryColor);
     color: white;
     padding: 15px;
     text-align: left;
     border-radius: 10px;
     /* margin: 0 auto; */
     margin-top: 5%;
 }

 .coach-detail h3 {
     color: var(--blackColor);
     margin-top: 0;
 }

 .coach-detail p {
     font-size: 15px;
     letter-spacing: 1;
     color: white;
 }

 .title-entrenador {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 3%;
     color: var(--secondaryColor);
     font-size: 56px;
     font-weight: 700;
     letter-spacing: 1px;
     margin-bottom: 5%;
 }


 .long-text {
     display: none;
 }

 .read-more-btn {
     background-color: var(--whiteColor);
     color: black;
     border: none;
     padding: 10px;
     cursor: pointer;
     font-size: 16px;
     border-radius: 5px;
 }

 .read-more-btn:hover {
     background-color: var(--whiteColor);
 }



 /* FOOTER */



 footer {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-wrap: wrap;
     background-color: var(--fontColor);
     width: 100%;
     min-height: 60vh;
     padding: 2%;
 }

 .subscribe {
     border-right: 1px solid var(--whiteColor);
     flex: 1;
     min-height: 100%;
     padding: 2%;
     color: var(--whiteColor);
     text-align: left;
 }

 .subscribe p {
     letter-spacing: 1;
 }

 .subscribe-form {
     display: flex;
     justify-content: space-between;
     width: 80%;
     height: 40px;
     background-color: var(--blackColor);
     padding: 5px;
     margin: 20px 0;

 }

 .subscribe-form input {
     width: 80%;
     height: 100%;
     border: none;
     color: var(--whiteColor);
     background-color: transparent;
 }

 .subscribe-btn {
     width: 100px;
     background-color: var(--primaryColor);
     border: none;
     color: var(--whiteColor);
     cursor: pointer;
 }

 .social-media a {
     width: 100px;
     height: 100px;
     color: var(--whiteColor);
     font-size: 24px;
     margin: 20px 20px 0 0;
 }

 .instagram i,
 .tiktok i,
 .facebook i {
     transition: color 0.3s ease;
 }

 .instagram:hover i {
     color: #E1306C;
 }

 .tiktok:hover i {
     color: #69C9D0;
 }


 .facebook:hover i {
     color: #1877F2;
 }


 .footer-menus {
     flex: 1;
     padding: 2%;
     max-width: 500px;
 }

 .footer-wrapper {
     display: flex;
     margin: 10px;
     justify-content: flex-start;
     width: 60%;
 }

 .footer-card {
     display: flex;
     flex-direction: column;
     min-width: 50%;
 }

 .footer-card h4 {
     color: var(--secondaryColor);
     margin-bottom: 0.5rem;
 }

 .footer-card a {
     text-decoration: none;
     color: var(--whiteColor);
     font-size: 13px;
     padding: 5px;
 }

 .footer-card a:hover {
     color: var(--blackColor)
 }


 /* for mobile view */

 @media screen and (max-width:640px) {

     body {
         width: 100%;
     }

     .title {
         font-size: 46px;
     }

     .logo-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .logo {
         font-size: 26px;
         text-decoration: none;
         color: var(--secondaryColor);
         font-weight: bold;
         letter-spacing: 1;

     }

     .program-logo {
         display: none;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         display: block;
         object-fit: cover;

     }

     .menu-toggle,
     .bar {

         z-index: 100;
     }

     .menu-toggle.is-active .bar:nth-child(2) {
         opacity: 0;
     }

     .menu-toggle.is-active .bar:nth-child(1) {
         transform: translateY(5px) rotate(45deg);
     }

     .menu-toggle.is-active .bar:nth-child(3) {
         transform: translateY(-5px) rotate(-45deg);
     }

     .menus {
         flex-direction: column;
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         text-align: center;
         background-color: var(--blackColor);
         padding: 5rem;
         display: none;
         /*will set the display to none, and when click bar menu will show again.*/
     }

     .menus.active {
         display: flex;
     }

     .menus a {
         color: var(--whiteColor);
         padding: 1.5rem;
     }


     .modal {
         display: none;
         /* Hidden by default */
         position: fixed;
         /* Stay in place */
         z-index: 1;
         /* Sit on top */
         left: 0;
         top: 0;
         width: 100%;
         /* Full width */
         height: 100%;
         /* Full height */
         overflow: auto;
         /* Enable scrolling if needed */
         background-color: rgba(0, 0, 0, 0.8);
         /* Black background with opacity */
     }

     .modal-content {
         background-color: var(--blackColor);
         margin: 15% auto;
         /* 15% from the top and centered */
         padding: 0;
         border: 1px solid #888;
         width: 80%;
         /* Adjust width as needed */
         max-width: 400px;
         /* Maximum width */
         max-height: 100%;
         /* Maximum height */
         overflow-y: auto;
         /* Enable vertical scrolling if content exceeds height */
         position: relative;
     }

     .modal-content video {
         width: 100%;
         /* Ensure video fills modal */
         height: auto;
     }

     /* Close button */
     .close {
         color: #aaa;
         float: right;
         font-size: 28px;
         font-weight: bold;
         position: absolute;
         right: 10px;
         top: 10px;
     }

     .close:hover,
     .close:focus {
         color: white;
         text-decoration: none;
         cursor: pointer;
     }

     /* Button style */
     button {
         padding: 10px 20px;
         background-color: var(--secondaryColor);
         color: var(--whiteColor);
         border: none;
         cursor: pointer;
         font-size: 16px;
         border-radius: 5px;
     }

     button:hover {
         background-color: var(--primaryColor);
     }

     .program-wrapper {


         display: flex;
         overflow-x: auto;
         height: 100%;
         border-radius: 20px;
         /* Enables horizontal scrolling */
         -webkit-overflow-scrolling: touch;
         /* Enables smooth scrolling on iOS */
         scroll-snap-type: x mandatory;
         /* Optional: for a snapping effect */
         width: 100%;
         margin: 2% 0;
         gap: 2rem;
         overflow-x: auto;

     }


     .story-card {
         width: 100px;
         height: 100px;
     }

     /* .story-desc h1 {
         font-size: small;
     } */

     .story-desc {
         width: 95%;
         text-align: center;
         line-height: 1.5;
     }


     .gym {
         flex-wrap: wrap;
     }

     .gym-wrapper {
         width: 100%;
     }

     .gym-img {
         width: 100%;
         /* Adjust image width */
         max-width: 100%;
         /* Ensure image fits within card */
         height: 42%;
         /* Maintain aspect ratio */
         border-radius: 10px;
         /* Rounded corners for image */
         object-fit: cover;
         /* Ensure image covers the entire container */
         box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     }

     .gym-card {
         height: 95%;
     }


     .client {
         flex-wrap: wrap;
     }

     .client-wrapper {
         width: 100%;
     }

     .coach-wrapper {
         display: flex;
         overflow-x: auto;
         -webkit-overflow-scrolling: touch;
         scroll-snap-type: x mandatory;
         flex-wrap: nowrap;
         /* Prevent wrapping to ensure horizontal scroll */
     }

     .coach-wrapper::-webkit-scrollbar {
         display: none;
     }

     .coach-wrapper {
         scrollbar-width: none;
         align-items: center;
     }

     .coach-card {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         background-color: var(--primaryColor);
         margin: 10px;
         border-radius: 10px;
         min-width: 70%;
         /* Ensure each card takes full width */
         flex: 0 0 auto;
         box-sizing: border-box;
         scroll-snap-align: start;
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
         transition: transform 1s ease;
     }

     .coach-img {
         width: 100%;
         height: 100%;
         /* border-radius: 50%; */
         object-fit: cover;
         /* margin-bottom: 20px; */
     }

     .coach-detail {
         width: 100%;
         background-color: var(--secondaryColor);
         color: var(--whiteColor);
         padding: 5%;
         text-align: center;
         font-size: 13px;
         letter-spacing: 1;
         line-height: 1.8;
     }

     .coach-detail h3 {
         color: var(--blackColor);
         font-size: 24px;
     }

     .coach-detail h5,
     .coach-detail p {
         margin: 5px 0;
         color: var(--whiteColor);
     }




     .transformation {
         overflow: hidden;
     }

     .transformation-wrapper {
         display: flex;
         overflow-x: auto;
         border-radius: 20px;
         align-items: center;
         /* Enables horizontal scrolling */
         -webkit-overflow-scrolling: touch;
         /* Enables smooth scrolling on iOS */
         scroll-snap-type: x mandatory;
         /* Optional: for a snapping effect */
     }


     .transformation-card {
         /* margin-left: 1%; */
         min-width: 70%;
         /* Ensure each card takes full width */
         flex: 0 0 auto;
         /* Prevents cards from shrinking or growing */
         box-sizing: border-box;
         /* Ensure padding and border are included in the width */
         scroll-snap-align: start;
         /* Optional: for a snapping effect */
         /* padding: 1%; */
         /* Add some padding */
         background: white;
         /* Set a background color */

         border-radius: 20px;
         /* Optional: for rounded corners */
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         /* Optional: for a slight shadow effect */
     }

     .package-wrapper {
         flex-direction: column;
         align-items: center;
         gap: 2rem;
     }

     .package-card {
         width: 75%;
         margin-bottom: 2rem;
     }

     .title-bootcamp {
         font-size: 40px;
         font-weight: 700;
         letter-spacing: 1;
         margin-bottom: 0.5rem;
     }

     .bootcamp-btn {
         width: 80%;
     }

     .bootcamp-card {
         width: 90%;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         background-color: var(--secondaryColor);
         padding: 8px;
         margin: 10px;
         border-radius: 10px;
     }
 }